body{
    direction: rtl;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    background-color: rgb(39, 11, 222);
    text-align: center;
    border-radius: 10px;
}
nav{
    background-color: blueviolet;
    padding: 3px;
    border-radius: 10px;
}
ul{
    background-color: rgb(1, 21, 21);
    margin: 5px;
    padding: 1px,3px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
ul li{
background-color: rgba(157, 0, 71, 0.587);
margin: 5px;
padding: 1px,5px;
list-style: none;
flex-grow: 0;
box-shadow: 5xp 5xp 9xp rgb(120, 96, 9);
border: 1;
border-style: dotted;
border-radius: 5px;
margin-left: 30px;
}
main{
    background-color: blue;
    padding: 3px;
    display: flex;
    border-radius: 10px;
}
aside,section{
    background-color: rgb(238, 8, 223);
}
aside{
    flex-grow:0;
    padding: 4;
    border-radius: 10px;
    margin: 10px;
    height: 500xp;
    margin-left: 30px;
    
}
section{
    flex-grow: 4;
    border-radius: 20px;
    margin: 20px;
    height: 500px;
    margin-left: 30px;

}
footer{
    background-color: brown;
   padding: 5xp;
   display: flex;
}
footer div{
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    margin-left: 50px;
}

